language: php

sudo: false

php:
    - 7.1
    - 7.2

env:
  global:
    - DEFAULT=1

matrix:
  include:
    - php: 7.1
      env: PREFER_LOWEST=1

    - php: 7.2
      env: CHECKS=1 DEFAULT=0

  fast_finish: true

before_script:
    - composer install --prefer-dist --no-interaction
    - if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.2" ]] ; then cp ./ci/travis/phpstan.neon ./phpstan.neon ; fi

script:
  - if [[ $DEFAULT == 1 ]] ; then vendor/bin/codecept run --coverage-xml ; fi
  - if [[ $CHECKS == 1 ]] ; then vendor/bin/phpstan analyse -l 7 -c phpstan.neon src/ ; fi
  - if [[ $CHECKS == 1 ]] ; then composer cs-check ; fi

notifications:
    email: false

after_success:
    - travis_retry php vendor/bin/coveralls
