parameters:
    checkMissingIterableValueType: false
    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Symfony\\Component\\Process\\Process::fromShellCommandline\(\).#'
        - '#^Call to an undefined static method Symfony\\Component\\Console\\Helper\\Helper::width\(\).#'
