parameters:
    checkMissingIterableValueType: false
    bootstrap: '%rootDir%/../../../phpstan-bootstrap.php'
    ignoreErrors:
        - '#Call to an undefined static method Symfony\\Component\\Process\\Process::fromShellCommandline\(\).#'
